<%if @size>0%>
<ul>
	<%@products.each do |item|%>
	<li><a title="<%=item.name%>" href="/linktodesc"><img src="2013121613580051636.jpg"><%="#{item.id}=>#{item.name}"%></a></li>
	<%end%>
</ul>
<%else%>
<ul>
	<h1>暂无产品</h1>
</ul>
<%end%>