<div class="autoMaxWidth body" id="banner" style="width: 1351px;">
	<img src="/assets/brand_pro.png" style="left: -284.5px; position: relative;">
</div>
<div class="wrap body">
	<div class="west">
		<div class="imgtit"><img src="/assets/brand_u_tit.png"></div>
		<div class="left_menu">
			<ul id="jzMenu">
				<li><a id="band1" class='<%=classType1 @protype%>' href="product_type/products?protype=1&pages=1" data-remote="true">三星专区</a></li>
				<li><a id="band2" class='<%=classType2 @protype%>'href="product_type/products?protype=2&pages=1" data-remote="true">诺基亚专区</a></li>
				<li><a id="band3" class='<%=classType3 @protype%>'href="product_type/products?protype=3&pages=1" data-remote="true">HTC专区</a></li>
			</ul>
		</div>
	</div>
	
	<div class="rightGrid">
		<div class="brandlist">
			<%=render :partial=>"product_type/list"%>
		</div>
		<div class="clear"></div>
		<div class="brandbotline"></div>
		<div class="clear"></div>
		
		<div class="breakpage">
			<table align="center">
				<tbody>
					<tr><td><div class="pages" id="pag"></div></td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="hiddenDiv"style="display:none"></div>
