<div class="autoMaxWidth body" id="banner" style="width: 1351px;">
	<img src="/assets/brand.jpg" style="left: -284.5px; position: relative;">
</div>
<div id="hiddenDiv"style="display:none"></div>
<div class="wrap body">
	<div class="west">
		<div class="imgtit"><img src="/assets/brand_tit.png"></div>
		<div class="left_menu">
			<ul>
				<li><a class="cur" href="/aboutUs/index" data-remote="true">关于ROCK</a></li>   
				<li><a class="" href="/bandPromotion/index"  data-remote="true" >品牌推广</a></li>
			</ul>
		</div>
	</div>
	<div class="east">
		<h1 class="txt_tit">关于ROCK</h1>
		<div class="txt_con">
				<p>
				<br>
				<strong>仁清科技</strong><br>
				&nbsp;&nbsp;&nbsp; 深圳市仁清科技有限公司总部位于中国·深圳，成立于2009年，专注于为用户提供时尚、精致、创新的3C数码周边产品。</p>
				<p>
					&nbsp;&nbsp;&nbsp; 目前公司旗下拥有ROCK、SUGEE、ihave、8thdays四大自主品牌，主要经营产品包括手机保护类、平板电脑保护类、电脑包、相机包、配件包、移动电源、车载充电、线材类、音频类、支架类、APP软件功能类等。</p>
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;截至目前，公司销售网络已成功覆盖国内所有省份城市及海外40多个国家和地区。其中包括国内一、二级经销商和分销商100多家，终端零售店超过5000个；海外代理商40余家，终端零售店1000多个；亚马逊、当当、苏宁易购、国美、京东、Yahoo、LAB、YSE、Mobile mate 、ebay等国内外知名网络销售平台20余个，销售网络非常强大。</p>
						<p>
							&nbsp;</p>
							<p>
								&nbsp;&nbsp;&nbsp; 公司始终坚持以“成为一家让消费者、合作伙伴、公司员工都称赞的企业”为终极目标。凭借“责任、包容、诚信、卓越”的核心引导，仅三年时间，公司已迅速发展成为业内的影响力企业，以领导者角色引领着行业的发展。<br>
								&nbsp;</p>
								<p>
									<strong>旗下品牌</strong></p>
									<p>
										&#12288;&#12288;ROCK，专注于为手机和平板电脑用户提供时尚精致的保护类产品。<br>
										&#12288;&#12288;SUGEE，专注于为消费类电子产品用户提供完善的时尚收纳装备。<br>
										&#12288;&#12288;ihave，专注于为消费类电子产品用户提供时尚创新的周边电子配件。<br>
										&nbsp; &nbsp; 8thdays，专注为时尚女性打造高品质潮流个性的数码保护类产品。<br>
										&nbsp;<br>
										<br>
										<strong>关于ROCK</strong></p>
										<p>
											&#12288;&#12288;ROCK，手机保护类品牌领导者！专注于为手机和平板电脑用户提供时尚精致的保护类产品。<br>
											&#12288;&#12288;ROCK创建于2009年，是仁清科技公司旗下首个自主品牌。目前主要经营一、二线市场等众多国际手机品牌、平板电脑品牌的周边保护配饰。<br>
											&nbsp;<br>
											<br>
											<strong>&nbsp;ROCK中国</strong><br>
											&nbsp;&nbsp;&nbsp; 以发达省份（直辖市）为核心，以国内一二线城市为重点，以线上线下为两翼，目前ROCK已在国内市场建立起完善的多层次的渠道覆盖体系。<br>
											&nbsp;</p>
											<p>
												<strong>ROCK全球</strong><br>
												&#12288;&#12288;致力研究世界各地的人文习俗与生活习惯，ROCK积极地融入当地人民的生活。目前产品远销北美洲（美国、加拿大）、欧洲（英国、瑞典、俄罗斯）、东南亚（新加波、马来西亚、泰国、缅甸、柬埔寨、印尼、越南）等40多个国家或地区。<br>
												&nbsp;</p>
												<p>
													<strong>品牌释义</strong></p>
													<p>
														&#12288;&#12288;ROCK，动为“摇滚”之义，代表“活力，动感，时尚”；静为“岩石”之义，象征“坚强，安全，品质”。新标识的设计灵感取自海洋、石头，完美诠释这一品牌理念。<br>
														&#12288;&#12288;海洋，生命的起源，一个充满大气、变化的时尚元素。新标识中通过“O”的包容、“K”的人形奔跑图案来传达。<br>
														&#12288;&#12288;石头，时间的沉淀，一个给人安全、稳重的品质元素，新标识通过对大自然中不同图案的石质纹理的抽象与简化而演绎开来。<br>
														&nbsp;&nbsp;&nbsp;“OK”的统一用色将两种元素完美地串联起来，将“ROCK”塑造出一个饱满的立体形象。</p>

													</div>
												</div>
											</div>