<form id="searchTop" name="FormSearch" action="/Plus/Search/Search.asp" method="get">
	<input type="hidden" value="1" name="ChannelID">  
	<div class="k-sea-int pd6"><li class="SEA-TIT">手机品牌</li><li class="SEA-INT"><input type="text" maxlength="10" name="PinPai" class="intSEA"></li></div>
	<div class="clear"></div>
	<div class="k-sea-int pd6"><li class="SEA-TIT">手机型号</li><li class="SEA-INT"><input type="text" name="XingHao" class="intSEA"></li></div>
	<div class="clear"></div>
	<div class="k-sea-int pd6"><li class="SEA-TIT">产品系列</li><li class="SEA-INT"><input type="text" name="XiLie" class="intSEA"></li></div>
	<div class="clear"></div>
	<div class="k-sea-btn"><input type="image" src="/assets/go.png"></div>
</form>