<div class="autoMaxWidth body" id="banner" style="width: 1351px;">
	<img src="/assets/contact.png" style="left: -284.5px; position: relative;">
</div>

<div class="wrap body" >
 <div class="contact_l">
  <p class="imgpdb"><img src="/Skins/rock/contact_1.png"></p>
  <p>邮编：518030</p>
  <p>电话：(86-755)8303 8515</p>
  <p>传真：(86-755)8329 9070</p>
  <p>地址：深圳市福田区金田路现代国际大厦2001室</p>
  <p class="imgpdb contact_2"><img src="/Skins/rock/contact_2.png"></p>
  <p>客服热线  400-618-2227</p>
  <p>媒体联络  0755-83038515-828 / 826</p>
  <p>投诉邮箱  z198309101@163.com</p>
 </div>
 <div class="contact_m">
  <p class="imgpdb"><img src="/Skins/rock/contact_3.png"></p>
  <p class="shichang">+ 国内市场</p>
  <p class="heise nopd">华东：</p>
  <p>电话：+86-15021058599</p>
  <p>电邮：10937381@qq.com</p>
  <p class="heise">华南：</p>
  <p>电话：+86-755-83038515 - 803</p>
  <p>电邮：414522629@qq.com</p>
  <p class="heise">华中：</p>
  <p>电话：+86-18627729299</p>
  <p>电邮：764699147@qq.com</p>
  <p class="heise">西区：</p>
  <p>电话：+86-15899874384</p>
  <p>电邮：356195892@qq.com</p>
  <p class="heise">北区：</p>
  <p>电话：+86-010-82433919</p>
  <p>电邮：carlosliang007@gmail.com</p>
  <p class="heise">大客户部：</p>
  <p>电话：+86-755-83038515 - 808</p>
  <p>电邮：907253486@qq.com</p>
 </div>
 <div class="contact_r">
  <p class="shichang guowai">+ 国外市场</p>
  <p class="heise nopd">欧洲地区:德国、波兰、瑞典、匈牙利等</p>
  <p>联系人：林小姐(Betty Lin)</p>
  <p>电话：+86-755-83038515-813</p>
  <p>邮箱：Bettylin@rockphone.cn<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rockphonesales06@gmail.com</p>
  <p>Skype：betty.lin.baoyu</p>
  <p class="heise">美洲、日韩、中东地区:美国、加拿大、日本、<br>韩国、菲律宾、南非等</p>
  <p>联系人：陈小姐(Jojo Chen)</p>
  <p>电话：+86-755-83038515-817</p>
  <p>邮箱：jojochen@rockphone.cn<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rockphonesales03@gmail.com</p>
  <p>Skype：rabbit-jojo</p>
  <p class="heise">东南亚地区:新加坡、泰国、印度尼西亚等</p>
  <p>联系人：王小姐(Bikar Wang)</p>
  <p>电话：+86-755-83038515-852</p>
  <p>邮箱：bikarwang@rockphone.cn<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rockphonesales01@gmail.com</p>
  <p>Skype：bikar1990512</p>
  <p class="heise">东欧、中亚等地区:俄罗斯、哈萨克斯坦、印度等</p>
  <p>联系人：金小姐(May Jin)</p>
  <p>电话：+86-755-83038515-854</p>
  <p>邮箱：mayjin@rockphone.cn<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rockphonesales02@gmail.com</p>
  <p>Skype：mayjin68</p>
 </div><div class="clear"></div>
</div>

<div id="hiddenDiv"style="display:none"></div>


