<div class="wrap">
	<div class="news_l">
		<div class="i_news_tit"><img src="/assets/home-news-tit.png"></div>
		<div class="news_n">
			<ul>
				<li><a title="新年换新装&mdash;&mdash;rock&nbsp;圣诞新年系列限量版保护套" href="/Html/Article/45.html"><span>Dec <b>24</b></span>新年换新装&mdash;&mdash;rock&nbsp;圣诞新年系列限量版保护</a></li>
			</ul>
		</div>
	</div>
	<div class="news_r">
		<div class="i_news_tit_r"><img src="/assets/home-news-tit-r.png"></div>
		<div class="hy_dt">
			<ul>
				<li><a title="Logo升级，ROCK全新品牌形象整装待发" href="/Html/Article/34.html"><span><b><img src="/assets/new.png"></b>2013-10-26</span>Logo升级，ROCK全新品牌形象整装待发 </a></li>
			</ul>
		</div> 
	</div>
</div>