	<div class="share bshare-custom" id="shareinner" style="">
		<div class="bsPromo bsPromo2"></div>
	<ul>
		<li class="tit"></li>
		<li class="qzone"><a href="javascript:void(0);" class="bshare-qzone">qzone</a></li>
		<li class="qweibo"><a href="javascript:void(0);" class="bshare-qqmb">qweibo</a></li>
		<li class="weibo"><a href="javascript:void(0);" class="bshare-sinaminiblog">weibo</a></li>
		<li class="facebook"><a href="javascript:void(0);" class="bshare-facebook">facebook</a></li>
		<li class="twitter"><a href="javascript:void(0);" class="bshare-twitter">twitter</a></li>
	</ul>
</div>
