<div class="autoMaxWidth body" id="banner" style="width: 1351px;">
	<img src="/assets/brand.jpg" style="left: -284.5px; position: relative;">
</div>

<div class="wrap body">
	<div class="west">
		<div class="imgtit"><img src="/assets/brand_tit.png"></div>
		<div class="left_menu">
			<ul>
				<li><a class="" href="/aboutUs/index" data-remote="true">关于ROCK</a></li>   
				<li><a class="cur" href="/bandPromotion/index" data-remote="true">品牌推广</a></li>
			</ul>
		</div>
	</div>
	<div class="east">
	   <h1 class="txt_tit">品牌推广</h1>
	   <div class="txt_con">
		   <p>品牌推广</p>
	   </div>
	 </div>	
</div>
<div id="hiddenDiv"style="display:none"></div>
