<div class="footer">
 <div class="wrap">
 <div class="links_share">
   <div class="links">
     <ul>
       <li class="link">友情链接</li>
       <li class="ihave"><a target="_blank" href="http://www.ihave.hk">ihave</a></li>
       <li class="sugee"><a target="_blank" href="http://www.sugee.cn">sugee</a></li>
       <li class="thdays"><a target="_blank" href="http://www.8thdays.com">8thdays</a></li>
     </ul>
   </div>
   <div class="clear"></div>
   <div class="share bshare-custom"><div class="bsPromo bsPromo2"></div>
     <ul>
      <li class="qzone"><a href="javascript:void(0);" class="bshare-qzone">qzone</a></li>
      <li class="qweibo"><a href="javascript:void(0);" class="bshare-qqmb">qweibo</a></li>
      <li class="weibo"><a href="javascript:void(0);" class="bshare-sinaminiblog">weibo</a></li>
      <li class="facebook"><a href="javascript:void(0);" class="bshare-facebook">facebook</a></li>
      <li class="twitter"><a href="javascript:void(0);" class="bshare-twitter">twitter</a></li>
     </ul>
   </div>
   <script src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh" charset="utf-8" type="text/javascript"></script><script src="http://static.bshare.cn/b/bshareC0.js" charset="utf-8" type="text/javascript"></script>

 </div>
 <div class="foot_menus">
  <div class="menus">
    <ul>
     <li class="first"><a href="/Html/Page/AboutUs.html">品牌简介</a></li>
     <li><a href="/Article/">品牌资讯</a></li>
     <li><a href="/Html/Rock/Samsung_zone.html">品牌联盟</a></li>
     <li><a href="/Product/">产品浏览</a></li>
     <li><a href="/Html/Rock/sale.html">销售网络</a></li>
     <li><a href="/Video/">影音专区</a></li>
     <li><a href="/Html/Rock/fangwei.html">防伪查询</a></li>
     <li><a href="/Html/Rock/contact.html">联系我们</a></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="copyright">Copyright &copy; <script javascript""="" text="" type="">document.write(new Date().getFullYear())</script>2013 <a href="http://www.rockphone.cn">深圳市仁清科技有限公司</a>,All rights reserved.  粤ICP备12029960号-1</div>
 </div>
 <div class="go_top">
  <a href="#top"></a>
 </div> 
 </div>
</div>